@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0a0a0a;
  color: #ededed;
}

.banner-img {
  background-image: url("/twitter_banner.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}